body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#header {
    background-color: #50586C;
    color: #DCE2F0;
    width: 100%;
    text-align: center;
    box-shadow: 10px 10px 8px black;
}

#footer {
    width: 100%;
    background-color: #DCE2F0;
    color: #50586C;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#github-logo {
    width: 24px;
    max-width: 24px;
    
    transition: 300ms ease-in-out;
    cursor: pointer;
}

#github-logo:hover {
    transform: rotateZ(360deg);
}

#content {
    background-color: #DCE2F0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 40px 0px;
}

#choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    animation: popup 0.5s;
}

#choice-players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 25px;
}

#choice-players > span {
    font-size: 48px;
    font-weight: 500;
}

.btn-choice {
    width: 150px;
    height: 60px;
    border: none;
    background-color: #50586C;
    color: #DCE2F0;
    border-radius: 16px;
    
    transition: 100ms ease-in-out;
}

.btn-choice:hover {
    transform: scale(1.0416) translateZ(0);
}

.btn-choice:active {
    background-color: #3e4555;
}

#btn-start {
    height: 40px;
}

#gameboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
    overflow: auto;
    
    transition: 200ms ease-in-out;
    animation: popup 0.5s;
}

#board {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 200px;
}

#round > span {
    font-size: 48px;
    font-weight: 600;
    user-select: none;
}

#round-counter {
    font-weight: 400;
    user-select: none;
}

#btn-exit {
    position: fixed;
    right: 4%;
    bottom: 4%;
    
    border: none;
    border-radius: 8px;
    background-color: #50586C;
    
    transition: 100ms ease-in-out;
    animation: fade-in 1s;
}

#btn-exit:hover {
    transform: scale(1.0416) translateZ(0);
}

#btn-exit:active {
    background-color: #3e4555;
}

.player-score-field {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.player-score-field > h4 {
    font-size: 32px;
    font-weight: 700;
    
    text-decoration: underline;
    user-select: none;
}

.player-score-field > p {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    user-select: none;
}

.pointing-hand {
    min-width: 48px;
    max-width: 48px;
    
    transform: rotateZ(270deg);
    visibility: hidden;
}

#tile-cnt {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.tile {
    background-color: #50586C;
    border: 1px solid black;
    color: #DCE2F0;
    font-size: 125px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
    
    transform: scale(0);
}